.table
  = form_for [@project, membership], html: {class: 'form-inline'}  do |f|
    .form-group.col-xs-1
      = membership.user.first_name
    .form-group
      = f.select :role, ['Owner', 'Member'], class: 'dropdown'
    .form-group
      = f.submit class: 'btn btn-primary btn-xs'
    .form-group
      = link_to("", project_membership_path(@project, membership), method: :delete, class: 'glyphicon glyphicon-remove')
