%h1= "#{@project.description}: Manage Members"

%ul.breadcrumb
  %li= link_to('Projects', projects_path)
  %li= link_to(@project.description, project_path(@project))
  %li= link_to_unless_current('Membership')

- if @project.memberships.where(user_id: current_user.id, role: 'Owner').exists?
  = render 'form'

- @memberships.each do |m|
  - if m.user.id == current_user.id && m.role == 'Member'
    = render 'member_form', membership: m
  - elsif owner?
    = render 'owner_admin_form', membership: m
  - else
    = render 'display_form', membership: m
