%h1= "#{@project.description}: Manage Members"

%ul.breadcrumb
  %li= link_to('Projects', projects_path)
  %li= link_to(@project.description, project_path(@project))
  %li= link_to_unless_current('Membership')


= render 'form'

- @project.users.each do |user|
  - user.memberships.each do |m|
    = render 'edit_form', membership: m
