
.page-header
  .pull-right
    = link_to 'All', project_tasks_path(@project, status: 'all')
    = "|"
    = link_to 'Incomplete', project_tasks_path(status: 'incomplete')
    = link_to 'Create Task', new_project_task_path, :class => 'btn btn-primary'
    - if (params[:status]) == 'incomplete'
      = link_to 'Download CSV', project_tasks_path(format: :csv, status: params[:status], sort: params[:sort]), class: 'btn btn-default'
    - else
      = link_to 'Download CSV', project_tasks_path(format: :csv, status: params[:status], sort: params[:sort]), class: 'btn btn-default'
  %h1= "Task for #{@project.description}"
  %ol.breadcrumb
    %li= link_to('Projects', projects_path)
    %li= link_to(@project.description, project_path(@project))
    %li.active= ("Tasks")



%table.table
  %tr
    %th= link_to 'Description', project_tasks_path(status: params[:status], sort: 'description')
    %th= link_to 'Due Date', project_tasks_path(status: params[:status], sort: 'due_date')
    %th= link_to 'Complete Task?', project_tasks_path(status: params[:status], sort: 'complete')
    %th

  - @tasks.each do |task|
    %tr{class: ("danger" if task.due_soon?)}
      %td
        = link_to(task.description, project_task_path(@project, task))
        = link_to(task.comments.count, project_tasks_path(@project, task), class: 'badge')
      - if task.due_date.nil?
        %td Infinite
      - else
        %td= task.due_date.strftime("%B %e, %Y")
      %td
        = form_for([@project, task], html: {class: "form-horizontal"}) do |f|
          = f.check_box :complete
          = f.submit :class => 'btn btn-default btn-sm'
      %td
        .pull-right
          = link_to 'Edit', edit_project_task_path(@project, task), class: 'btn btn-success'
          = link_to '', project_task_path(@project, task), class: 'glyphicon glyphicon-remove', :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'delete'


= paginate @tasks
