.pull-right
  = link_to('Edit', edit_project_task_path(@project, @task), class: 'btn btn-primary')
.page-header

%ol.breadcrumb
  %li= link_to('Project', projects_path)
  %li= link_to(@task.description, project_tasks_path(@project,@task))
  %li= link_to('Task', project_tasks_path)
  %li.active= 'Show Task'

%table.table-condensed
  %tr
    %th Description: &nbsp;
    %td= @task.description
  %tr
    %th Completion: &nbsp;
    %td= @task.complete
  %tr
    %th Due Date: &nbsp;
    - if @task.due_date.nil?
      %td Infinite
    - else
      %td= @task.due_date.strftime("%B %e, %Y")

%h2 Comments
- @comments.each do |comment|
  .row
    .col-md-3
      = link_to(comment.user.first_name, user_path(comment.user))
      .text-muted
        = "#{time_ago_in_words(comment.created_at)} ago"
    .col-md-9
      = comment.copy

- if current_user.present?
  = render 'form_comment'


.padding_adjustment
