.page-header
  .pull-right
    = link_to('Create User', new_user_path, class: 'btn btn-primary')
  %h1 Users List

%table.table
  %tr
    %th Name
    %th Email Address
    %th

  - @users.each do |user|
    %tr
      %td= link_to("#{user.first_name + " " + user.last_name}", user_path(user))
      %td= mail_to(user.email_address)
      %td
        - if user.id == current_user.id
          = link_to 'Edit', edit_user_path(user), class: 'btn btn-success'
