.page-header
  .pull-right
    = link_to('Create User', new_user_path, class: 'btn btn-primary')
  %h1 Users List

=current_user.id

%table.table
  %tr
    %th Name
    %th Email Address
    %th
  - @users.each do |user|
    %tr
      %td= link_to("#{user.first_name + " " + user.last_name}", user_path(user))
      - if user.id == current_user.id || user.memberships.select(:project_id).any? {|x| current_user.memberships.select(:project_id).any? { |r| r.project_id == x.project_id } }
        %td= mail_to(user.email_address)
      - else
        %td
      %td
        - if user.id == current_user.id || admin?
          = link_to 'Edit', edit_user_path(user), class: 'btn btn-success'
