%ol.breadcrumb
  %li= link_to('Users', users_path)
  %li.active= 'User Info'

.jumbotron
  %table.table-condensed
    %tr
      %th First Name: &nbsp;
      %td= @user.first_name
    %tr
      %th Last Name: &nbsp;
      %td= @user.last_name
    - if current_user.id == @user.id
      %tr
        %th Email Address: &nbsp;
        %td= mail_to(@user.email_address)
    - if admin?
      %tr
        %th Admin
        %td= @user.admin


    %tr
      %th
        - if current_user.id == @user.id || admin?
          = link_to 'Edit |', edit_user_path(@user)
        = link_to 'Back', users_path
