.jumbotron
  %h1 gCamp!
  %p Your life organized.

.row
  - @columns.each do |title, description|
    .col-md-4
      =image_tag('image.jpg', :class => 'img-responsive')
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            = title
          .panel-body
          - if description.length <= 1
            %p
              = description[0]
          -else
            %ul
              - description.each do |description|
                %li
                  = description
-#
-# - @quote_random_array.each do |quote|
-#   %blockquote.remove_hover_blockquote
-#     %p
-#       = quote.author
-#     %footer
-#       = quote.quote_text

- @quote_random_array.each do |author, quote|
  %blockquote.remove_hover_blockquote
    %p
    - quote.each do |q|
      = q
    %footer
      = author



/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
%script{:src => "../../dist/js/bootstrap.min.js"}
/ IE10 viewport hack for Surface/desktop Windows 8 bug
%script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}
