.jumbotron
  %h1 gCamp!
  %p Your life organized.

.row
  - @columns.each do |title, description|
    .col-md-4
      =image_tag('image.jpg', :class => 'img-responsive')
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            = title
          .panel-body
          - if description.length <= 1
            %p
              = description[0]
          -else
            %ul
              - description.each do |description|
                %li
                  = description

- @qas.each do |hash|
  %blockquote
    %p
      = hash.quote
    %footer
      = hash.author
