.jumbotron
  %h2= title
  = form_for(@project, html: {class: "form-horizontal"}) do |f|
    = render '/layouts/errors', model: @project
    .form-group
      = f.label :description, :class => 'col-sm-2 control-label'
      .col-sm-5
        = f.text_field :description, :class => "form-control"
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
