.page-header
  .pull-right
    = link_to('Create Project', new_project_path, class: 'btn btn-primary')
  %h1 Project Index Page

%table.table
  %thead
    %th Description
    %th Memberships
    %th Tasks
  %tbody
    - current_user.projects.each do |proj|
      %tr
        %td= link_to(proj.description, project_path(proj))
        %td= link_to(proj.memberships.count, project_memberships_path(proj))
        %td= link_to(proj.tasks.count, project_tasks_path(proj, @tasks))

= paginate @projects
