.page-header
  .pull-right
    = link_to('Edit', edit_project_path, class: 'btn btn-primary')
  %h1= @project.description

%ol.breadcrumb
  %li= link_to('Projects', projects_path)
  %li.active= (@project.description)

%p= link_to("#{pluralize(@project.tasks.count, "Task")}", project_tasks_path(@project))
%p= link_to("#{pluralize(@project.memberships.count, "Member")}", project_memberships_path(@project))

.well
  %strong Delete Project
  %p= "Deleting the project will also delete #{pluralize(@project.memberships.count, "Membership")}, #{pluralize(@project.tasks.count, "Task")} and associated comments "
  = link_to("Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger')
