!!!
%html
  %head
    %title GCamp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    .navbar.navcolor.nav_adjustment.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        = link_to 'gCamp', root_path, :class => 'navbar-brand'

  %body.background_color
  .container.white
    .padding_adjustment
    = yield

  %footer
  .container.white
    .footerline
    %ul.footer_adjustment
      &nbsp;
      %li.inline= link_to_unless_current 'About', about_path, :class => 'footer_li'
      &nbsp;
      |
      &nbsp;
      %li.inline= link_to_unless_current 'Terms', term_path, :class => 'footer_li'
      &nbsp;
      |
      &nbsp;
      %li.inline= link_to_unless_current 'FAQ', faq_path, :class => 'footer_li'
